#back{
	background-color: #DF013A;
	border: 1px solid #000000;
}
body>nav{
	background-color: #BDBDBD;
	box-sizing: auto;
	border-radius: .10px;
	text-shadow: 1px;
}
.navbarnew {
  background-color: #6E6E6E;
  font-family: "Arial";
  color: #FAFAFA;
  font-size: 1.5em;
  width: 100%;
  height:auto;
}
.navigation{
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	float:left; 
}
.title-text{
	text-align: center;
	margin-top: 10px;
	text-shadow: 2px 2px #1C1C1C;
	font-size: 2em;
}
.chicken{
	box-sizing: auto;
	border:3px solid;
	margin:40px 10px 10px 10px;
	padding-top: 20px;
	background-image: url("https://secure.i.telegraph.co.uk/multimedia/archive/03112/roast-chicken_3112140k.jpg");
}
.middle{
	font-size:1.3em;
	text-align: center;
	color: #000000;
	text-shadow: 1px;
	margin-top: 5px;
}
p{
	text-justify: inter-word;
	margin-left: 5px;
	margin-right: 5px;
	opacity: .99;
}
.beef{
	box-sizing: auto;
	border:3px solid;
	margin:40px 10px 10px 10px;
	padding-top: 20px;
	background-image: url("https://hips.hearstapps.com/del.h-cdn.co/assets/17/38/2048x1024/landscape-1506010658-beef-tenderloin-delish.jpg?resize=768:*");
}
.sushi{
	box-sizing: auto;
	border:3px solid;
	margin:40px 10px 10px 10px;
	padding-top: 20px;
	background-image:url("https://upload.wikimedia.org/wikipedia/commons/thumb/5/56/Vegetable_gimbap.jpg/1200px-Vegetable_gimbap.jpg");
}
button{
	background-color: #FAFAFA;
	float:right;
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.display{
	visibility: hidden;
}
#csh{
	width:100%;
	background-color:#5858FA;
}
#iod{
	width:100%;
}
@media (max-width: 767px){

.display{
	visibility: visible;
}


}